body{
    background-image: url(img\ bg.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
}
.regist{
    width: 100%;
}

.container{
    max-width: 50%;
    margin-right: 4cm;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.wrapper {
  width: 100%;
}

.panel {
  max-width: 50%;
}

.container {
  max-width: 50%;
}

.panel{
    min-width: 50%;
}
.judul{
     color: white;
     font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 50px;

}

.login{
    margin-left: 143px;
}

.btn{
    margin-top: 6%;
    background-color: #3F6647;
    color: white;
    margin-left: 200px;
}

.small{
    margin-left: 157px;
}